<h1>INDEX<h1>
<table>
<head>
<tr>
	<th>NAME</th>
	<th>TOPIC</th>
<tr>
</head>

</tbody>
	<% @articles.each do |article| %>
		<tr>
		<td><%= article.name %></td>
		<td><%= article.topic %></td>
		</tr>
	<% end %>
</tbody>
</table>
